<!DOCTYPE html>
<html>
<head>
    <title>base</title>
</head>
<body>

    <h1>Welcome to Movie Recommendation System</h1>

    <form action="{{ url_for('predict')}}" method="post">
        <p>What is your User ID?</p>
        <input type="number" name="userId" placeholder="Enter your user ID">

        <p>What is your Movie ID?</p>
        <input type="number" name="movieId" placeholder="Enter your movie ID">

        <button type="submit">Predict</button>
    </form>

    <p>{{ prediction }}</p>

</body>
</html>
